<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruenzuo.pokeffective" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@drawable/ic_action_back">
        <activity
            android:name=".activities.BoxActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.telly.groundy.GroundyService"/>
        <activity android:name=".activities.PokemonListActivity"
            android:label="Pokémon"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.MovesetListActivity"
            android:label="Moveset"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.MoveListActivity"
            android:label="Moves"
            android:screenOrientation="portrait"/>
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <meta-data android:name="AA_DB_NAME" android:value="Pokeffective.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>
</manifest>
